/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/* Button Design */
.butn {
    color: black;
    background: white;
    justify-self: stretch;
    align-self: stretch;
}

#button1 {
    grid-column-start: 1;
    grid-row-start: 1;
}

#button2 {
    grid-column-start: 2;
    grid-row-start: 1;
}

#button3 {
    grid-column-start: 3;
    grid-row-start: 1;
}

#button4 {
    grid-column-start: 4;
    grid-row-start: 1;
}

#button5 {
    grid-column-start: 5;
    grid-row-start: 1;
}

#button6 {
    grid-column-start: 6;
    grid-row-start: 1;
}

#button7 {
    grid-column-start: 7;
    grid-row-start: 1;
}

#button8 {
    grid-column-start: 1;
    grid-row-start: 2;
}

#button9 {
    grid-column-start: 2;
    grid-row-start: 2;
}

#button10 {
    grid-column-start: 3;
    grid-row-start: 2;
}


/* container */
.cont {
    display: grid; 
    grid-template-columns: auto auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto;
    grid-gap: 0px 0px;
    justify-items: stretch;
}