@page
@model GameModel
@using System
@using Methods
<div class="cont">
    @{Dictionary<string, int> colourDict = new Dictionary<string, int>
{
        { "redButton", 0 },
        { "blueButton", 0 },
        { "greenButton", 0 },
        { "blackButton", 0 }
    };
        var rnd = new Random(100);
        WordGenerator wordGenerator = new WordGenerator(100);}

    @for (int i = 1; i <= 35; i++)
    {
        int colourIndex = rnd.Next(colourDict.Count);
        KeyValuePair<string, int>
            pair = colourDict.ElementAt(colourIndex);
        colourDict[pair.Key]++;

        <input type="button" id="button@(i.ToString())" value="@(wordGenerator.GetRandomWord())" class="butn @pair.Key" />

        if ((colourDict[pair.Key] >= 8 && pair.Key == "redButton")
        || (colourDict[pair.Key] >= 8 && pair.Key == "greenButton")
        || (colourDict[pair.Key] >= 9 && pair.Key == "blueButton")
        || (colourDict[pair.Key] >= 10 && pair.Key == "blackButton"))
        {
            colourDict.Remove(pair.Key);
        }
    }
</div>
<div class="row">
    <div class="col-12">
        <hr />
    </div>
</div>
<div class="row">
    <input type="button" id="spy" value="SpyMaster" title="spymaster" />
</div>
<div class="row">
    <div class="col-12">
        <hr />
    </div>
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/button.js"></script>