@page
<div class="cont">
    <div class="col-6">
        <input type="button" id="button1" class="butn redButton" value="Horse" />
    </div>
    <div class="col-6">
        <input type="button" id="button2" class="butn blueButton" value="Paste" />
    </div>
    <div class="col-6">
        <input type="button" id="button3" class="butn greenButton" value="Replica" />
    </div>
    <div class="col-6">
        <input type="button" id="button4" class="butn blackButton" value="Word" />
    </div>
    <div class="col-6">
        <input type="button" id="button5" class="butn redButton" value="Foo" />
    </div>
    <div class="col-6">
        <input type="button" id="button6" class="butn redButton" value="Bar" />
    </div>
    <div class="col-6">
        <input type="button" id="button7" class="butn greenButton" value="Chicken" />
    </div>
    <div class="col-6">
        <input type="button" id="button8" class="butn redButton" value="Cathy" />
    </div>
    <div class="col-6">
        <input type="button" id="button9" class="butn greenButton" value="Martin" />
    </div>
    <div class="col-6">
        <input type="button" id="button10" class="butn blueButton" value="Paula" />
    </div>
</div>
<div class="row">
    <div class="col-12">
        <hr />
    </div>
</div>
<div class="row">
    <input type="button" id="spy" value="SpyMaster" title="spymaster"/>
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/button.js"></script>