@page
@model IndexModel
@{
    ViewData["Title"] = "Codenames Replica";
}
<h1>@ViewData["Title"]</h1>
<form class="row" method="post" action="">
    <input type="text" name="seedString" asp-for="Seed" />
    <button type="submit" value="Submit" asp-page="Game"/>
</form>
<div class="row">
    <div class="col-12">
        <hr />
    </div>
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/button.js"></script>