@page
<div class="container">
    <div class="row">
        <div class="col-6">
            <input type="button" id="button1" class="button redButton" value="Horse" />
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <input type="button" id="button2" class="button blueButton" value="Paste" />
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <input type="button" id="button3" class="button greenButton" value="Replica" />
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <input type="button" id="button4" class="button redButton" value="Horse" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-6">
        <ul id="messagesList"></ul>
    </div>
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/button.js"></script>