@page
@model IndexModel
@using System
@using Methods
@{
    ViewData["Title"] = "Codenames Replica";
}
<h1>@ViewData["Title"]</h1>
<div class="row">
    <input type="number" id="seed" value="Seed" title="seed" />
</div>
<div class="row">
    <input type="button" id="spy" value="SpyMaster" title="spymaster" />
</div>

<div class="row">
    <div class="col-12">
        <hr />
    </div>
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/button.js"></script>